# Default values for openvsx.

name: &name open-vsx-org
environment: &environment production
namespace: &namespace open-vsx-org
host: open-vsx.org

replicaCount: 6
esReplicaCount: 3

image:
  repository: ghcr.io/eclipsefdn/openvsx-website
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 97e1417-99

website:
  jvmArgs: >
    -Xms4G -Xmx6G
    -XX:+AlwaysPreTouch
    -XX:+HeapDumpOnOutOfMemoryError
    -XX:+UseStringDeduplication
    -XX:+ParallelRefProcEnabled
    -XX:+DisableExplicitGC
    -XX:+UnlockExperimentalVMOptions
    -XX:+UnlockDiagnosticVMOptions
    -Dlog4j2.formatMsgNoLookups=true
    -Dlog4j.formatMsgNoLookups=true
    -Dorg.jooq.no-logo=true
    -Dorg.jooq.no-tips=true
    --enable-native-access=ALL-UNNAMED

route:
  timeout: 10m

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 5000m
    memory: 8Gi
  requests:
    cpu: 3000m
    memory: 8Gi

# elastic search
es:
  java_opts: -Xms4g -Xmx4g -Dlog4j2.formatMsgNoLookups=true
  resources:
    limits:
      cpu: 4
      memory: 8Gi
    requests:
      cpu: 1
      memory: 8Gi
  storage_class: cephfs-new

# redis
redis:
  name: redis
  replicas: 6
  image:
    repository: redis
    tag: "7.2.10"
    pullPolicy: IfNotPresent
  maxmemory: "896mb"
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1536Mi"
      cpu: "500m"
  persistence:
    storageGi: 5
    storageClass: cephfs-new
  serviceAccountName: redis-cluster-operator
  clusterRoleName: redis-cluster-operator-role-cluster
  clusterRoleBindingName:  redis-cluster-operator-role-binding-cluster
  roleName: redis-cluster-operator-role
  roleBinding: redis-cluster-operator-role-binding

# grafana alloy
alloy:
  alloy:
    configMap:
      create: false
      name: "grafana-alloy-configmap-production"
      key: "config.river"
    envFrom:
      - secretRef: 
          name: grafana-cloud-secret-production
      - secretRef: 
          name: redis-secret-production
    extraPorts:
      - name: zipkin
        port: 9411
        targetPort: 9411
  crds:
    create: true
  controller:
    type: "daemonset"
    podLabels:
      app: *name
      environment: *environment
    nodeSelector:
      openvsx-production-alloy: "true"
  fullnameOverride: grafana-alloy-production
  namespaceOverride: *namespace

clamav:
  enabled: true
  name: "clamav"
  replicas: 1
  image:
    repository: "ghcr.io/eclipsefdn/clamav-rest-new"
    tag: "v0.1.1"
    pullPolicy: Always
  resources:
    requests:
      cpu: 2
      memory: 4Gi
    limits:
      cpu: 4
      memory: 6Gi
  service:
    port: 9000
  env:
    MAX_UPLOAD_SIZE_MB: 512
    MAX_EXTRACTED_SIZE_MB: 512
    MAX_FILE_COUNT: 100000
    MAX_SINGLE_FILE_MB: 256
    MAX_RECURSION: 16
    MAX_THREADS: 4
    SCAN_TIMEOUT_MINUTES: 5

yara:
  enabled: true
  name: "yara"
  replicas: 1
  image:
    repository: "ghcr.io/eclipsefdn/yara-rest"
    tag: "v0.1.0"
    pullPolicy: Always
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 2
      memory: 2Gi
  service:
    port: 9001
  env:
    MAX_UPLOAD_SIZE_MB: 512
    MAX_EXTRACTED_SIZE_MB: 1024
    MAX_FILE_COUNT: 100000
    MAX_SINGLE_FILE_MB: 256
    MAX_RECURSION: 0
    SCAN_TIMEOUT_MINUTES: 5
